# Compiled Source #
###################
*.class
*.pyc


# Non-first logs #
##################
*0-data.log
*/log/*.log1


# Swap/temp files #
###################
*.swp
*tempfiles/*

# DB Configuration Files #
##########################
*dbconfig.py
