# Compiled Source #
###################
*.class
*.pyc


# Non-first logs #
##################
*.log1
*0-data.log


# Swap/temp files #
###################
*.swp

# DB Configuration Files #
##########################
*dbconfig.py
